// Responsive 

$mobile-xs: 320px;
$mobile: 480px;
$tablet-xs: 780px;
$tablet-m: 991px; 
$tablet: 1024px; 
$desktop: 1480px;


// Padding 

$zero: 0px;
$ten: 10px;
$twenty: 20px;
$thirty: 30px;
$sixty: 60px;

// Position 

$fixed: fixed;
$absolute: absolute;
$relative: relative;

// Transform

$uppercase: uppercase;

// Weight 

$f800: 800;

// Spacing 

$spacing: 1px;