.dark-theme {
    @include dark-theme;

    .menu-contact,
    .sidebar,
    .languages,
    .btn-slide {
        background-color: $beige !important;
    }

    .btn-menu,
    .btn-disc,
    .nav-link,
    .btn-toggler,
    .a-lang,
    .btn-bg {
        color: $mystery !important;
    }

    .nav-link {
        i {
            color: $hope;
        }
    }

    .logo,
    .btn-disc,
    .btn-toggler,
    .btn-bg {
        background-color: $pure !important;
    }

    .btn-bg {

        &:hover,
        &:focus,
        &:active {
            color: $mystery;
            background-color: $pure;
        }
    }

    .btn-border {
        color: $pure;
        border: 2px solid $pure;

        &:hover,
        &:focus,
        &:active {
            color: $pure;
            border: 2px solid $pure;
        }
    }

    #sun {
        display: none;
    }

    .btn-toggler {

        &:hover,
        &:focus,
        &:active {
            color: $mystery;
            background-color: $pure;
        }
    }

    .hope {
        color: $beige;
    }
}

.light-theme {
    @include light-theme;

    #moon {
        display: none;
    }

    .title,
    p {
        color: $mystery;
    }
}