.card {
    padding: $thirty;
    border: none !important;

    @media screen and (max-width: $mobile) {
        margin-bottom: $twenty;
    }

    h3 {
        font-size: 2rem;

        @media screen and (max-width: $mobile) {
            font-size: 1.8rem !important;
        }
    }

    p {
        font-size: 22px;
    }

    .inf-p {
        margin-bottom: -10px;
    }
}