.bg-mystery {
  background-color: #1B2026;
}

.bg-hope {
  background-color: #447565;
}

.bg-beige {
  background-color: #DDCEBC;
}

.bg-pure {
  background-color: #eff1ee;
}

.mystery {
  color: #1B2026;
}

.pure {
  color: #eff1ee;
}

.hope {
  color: #447565;
}

.beige {
  color: #DDCEBC;
}

.bg-mystery {
  background-color: #1B2026;
}

.bg-hope {
  background-color: #447565;
}

.bg-beige {
  background-color: #DDCEBC;
}

.bg-pure {
  background-color: #eff1ee;
}

.mystery {
  color: #1B2026;
}

.pure {
  color: #eff1ee;
}

.hope {
  color: #447565;
}

.beige {
  color: #DDCEBC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Noticia Text", serif;
}

h1 {
  font-size: 6.5em;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 6.3rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.9rem !important;
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 3.9rem;
  }
}

h3 {
  font-size: 6rem;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 2.8rem !important;
  }
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 3.8rem;
  }
}

p {
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0.3px;
  font-family: "Hind", sans-serif;
  margin: 40px 0;
}

* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  transition: background-color 0.5s ease;
}

.btn-toggler,
.languages {
  bottom: 10px;
  position: fixed;
  border-radius: 10px;
}

section {
  padding: 140px 0;
}

.bg-mystery {
  background-color: #1B2026;
}

.bg-hope {
  background-color: #447565;
}

.bg-beige {
  background-color: #DDCEBC;
}

.bg-pure {
  background-color: #eff1ee;
}

.mystery {
  color: #1B2026;
}

.pure {
  color: #eff1ee;
}

.hope {
  color: #447565;
}

.beige {
  color: #DDCEBC;
}

.bg-mystery {
  background-color: #1B2026;
}

.bg-hope {
  background-color: #447565;
}

.bg-beige {
  background-color: #DDCEBC;
}

.bg-pure {
  background-color: #eff1ee;
}

.mystery {
  color: #1B2026;
}

.pure {
  color: #eff1ee;
}

.hope {
  color: #447565;
}

.beige {
  color: #DDCEBC;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Noticia Text", serif;
}

h1 {
  font-size: 6.5em;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 3rem !important;
  }
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 6.3rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.9rem !important;
  }
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 3.9rem;
  }
}

h3 {
  font-size: 6rem;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 2.8rem !important;
  }
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 3.8rem;
  }
}

p {
  font-size: 24px;
  text-align: justify;
  letter-spacing: 0.3px;
  font-family: "Hind", sans-serif;
  margin: 40px 0;
}

.dark-theme {
  color: #eff1ee;
  background-color: #1B2026;
}
.dark-theme .menu-contact,
.dark-theme .sidebar,
.dark-theme .languages,
.dark-theme .btn-slide {
  background-color: #DDCEBC !important;
}
.dark-theme .btn-menu,
.dark-theme .btn-disc,
.dark-theme .nav-link,
.dark-theme .btn-toggler,
.dark-theme .a-lang,
.dark-theme .btn-bg {
  color: #1B2026 !important;
}
.dark-theme .nav-link i {
  color: #447565;
}
.dark-theme .logo,
.dark-theme .btn-disc,
.dark-theme .btn-toggler,
.dark-theme .btn-bg {
  background-color: #eff1ee !important;
}
.dark-theme .btn-bg:hover, .dark-theme .btn-bg:focus, .dark-theme .btn-bg:active {
  color: #1B2026;
  background-color: #eff1ee;
}
.dark-theme .btn-border {
  color: #eff1ee;
  border: 2px solid #eff1ee;
}
.dark-theme .btn-border:hover, .dark-theme .btn-border:focus, .dark-theme .btn-border:active {
  color: #eff1ee;
  border: 2px solid #eff1ee;
}
.dark-theme #sun {
  display: none;
}
.dark-theme .btn-toggler:hover, .dark-theme .btn-toggler:focus, .dark-theme .btn-toggler:active {
  color: #1B2026;
  background-color: #eff1ee;
}
.dark-theme .hope {
  color: #DDCEBC;
}

.light-theme {
  color: #1B2026;
  background-color: #eff1ee;
}
.light-theme #moon {
  display: none;
}
.light-theme .title,
.light-theme p {
  color: #1B2026;
}

.btn-toggler {
  right: 10px;
  color: #eff1ee;
  background-color: #1B2026;
}
.btn-toggler:hover, .btn-toggler:focus, .btn-toggler:active {
  color: #eff1ee;
  background-color: #1B2026;
}
.btn-toggler span {
  font-size: 16px;
}

header .logo {
  width: 100%;
  background-color: #1B2026;
}
@media screen and (max-width: 480px) {
  header .logo {
    width: 18%;
  }
}
header .logo,
header .sidebar,
header .menu-contact {
  padding: 10px;
  border-radius: 10px;
}
header .menu-contact {
  z-index: 3;
  height: 60px;
  right: 12px;
  width: 14rem;
  display: flex;
  position: fixed;
  background-color: #447565;
}
@media screen and (max-width: 480px) {
  header .menu-contact {
    top: 7px;
    height: 72.45px;
  }
}
header .menu-contact .btn {
  color: #eff1ee;
}
header .menu-contact .btn-menu {
  margin-top: 0px;
}
header .menu-contact .btn-disc {
  height: 47px;
  width: 10rem;
  margin-top: -4px;
  margin-left: 21%;
  position: absolute;
  background: #1B2026;
}
@media screen and (max-width: 480px) {
  header .menu-contact .btn-disc {
    height: 59px;
  }
}
header .menu-contact .btn-disc .mn {
  font-size: 18px;
  font-weight: 600;
  font-family: "Hind", sans-serif;
}

.sidebar {
  width: 0;
  right: 12px;
  z-index: 1;
  padding: 0px !important;
  border-radius: 10px;
  position: fixed;
  transition: 0.5s;
  overflow-x: hidden;
  background-color: #447565;
}
@media screen and (max-width: 480px) {
  .sidebar {
    top: 34px;
  }
}
.sidebar .menu-side {
  padding: 70px 22px;
}
.sidebar .menu-side .nav-item {
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}
.sidebar .menu-side .nav-item .nav-link {
  color: #eff1ee;
}
.sidebar .menu-side .nav-link {
  font-size: 20px;
}
.sidebar .menu-side i {
  color: #DDCEBC;
}
.sidebar .menu-side .fa-linkedin-in {
  margin: 0px 10px;
}

.slide-about img {
  width: 100%;
}
.slide-about .carousel-indicators {
  right: -10.6%;
  bottom: 70px;
  position: absolute;
}
@media screen and (max-width: 480px) {
  .slide-about .carousel-indicators {
    bottom: -16px !important;
  }
}
@media screen and (max-width: 991px) {
  .slide-about .carousel-indicators {
    right: 0%;
    bottom: -46px;
  }
}
.slide-about .carousel-indicators .btn-slide {
  width: 20px;
  height: 20px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  background-color: #447565;
}

.btn-bg,
.btn-border {
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
}

.btn-bg {
  color: #eff1ee;
  background-color: #1B2026;
}
.btn-bg:hover, .btn-bg:focus, .btn-bg:active {
  color: #eff1ee;
  background-color: #1B2026;
}

.btn-border {
  color: #1B2026;
  border: 2px solid #1B2026;
}
.btn-border:hover, .btn-border:focus, .btn-border:active {
  color: #1B2026;
  border: 2px solid #1B2026;
}

.languages {
  left: 10px;
  background-color: #447565;
}
.languages a {
  color: #eff1ee;
  font-weight: 800;
  font-family: "Hind", sans-serif;
}

.intro img {
  top: 0px;
  right: 0;
  width: 48%;
  position: absolute;
}
@media screen and (max-width: 480px) {
  .intro img {
    top: 126px !important;
    width: 62% !important;
  }
}
@media screen and (max-width: 1024px) {
  .intro img {
    top: 79px;
    width: 50%;
    z-index: -1;
  }
}
@media screen and (max-width: 480px) {
  .intro p br {
    display: none;
  }
}
.intro .btn-bg {
  margin-left: 10px;
}

.about .slide .content-slide {
  padding: 20% 40% 0% 0%;
}
@media screen and (max-width: 480px) {
  .about .slide .content-slide {
    padding: 10% 4% !important;
  }
}
@media screen and (max-width: 991px) {
  .about .slide .content-slide {
    padding: 5% 8%;
  }
}

/*# sourceMappingURL=style.css.map */
