.intro {
    img {
        top: 0px;
        right: 0;
        width: 48%;
        position: absolute;

        @media screen and (max-width: $mobile) {
            top: 126px !important;
            width: 62% !important;
        }

        @media screen and (max-width: $tablet) {
            top: 79px;
            width: 50%;
            z-index: -1;
        }
    }

    p {
        @media screen and (max-width: $mobile) {
            br {
                display: none;
            }
        }
    }

    .btn-bg {
        margin-left: 10px;
    }
}

.about {
    .slide {
        .content-slide {
            padding: 20% 40% 0% 0%;

            @media screen and (max-width: $mobile) {
                padding: 10% 4% !important;
            }

            @media screen and (max-width: $tablet-m) {
                padding: 5% 8%;
            }
        }
    }
}

.parcours {
    .card {
        margin: $thirty 0 0 0;
        h3 {
            margin: -10px 0px -10px 0px;
        }
    }
}