$mystery: #1B2026;
$hope: #447565;
$beige: #DDCEBC;
$pure: #eff1ee;

.bg-mystery {
    background-color: $mystery;
}

.bg-hope {
    background-color: $hope;
}

.bg-beige {
    background-color: $beige;
}

.bg-pure {
    background-color: $pure;
}

.mystery {
    color: $mystery;
}

.pure {
    color: $pure;
}

.hope {
    color: $hope;
}

.beige {
    color: $beige;
}